body {
    background-color: #f0f0f0;
}

.conteiner {
    text-align: center;
}

.profile-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 200px;
}

.profile-img img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.profile-txt h1 {
    text-align: left;
    margin: 5px;
}

.profile-txt h3 {
    text-align: left;
    margin: 5px;
}

.profile-txt p {
    text-align: left;
    margin: 0px;
}

.link-container ul {
    display: flex;
    justify-content: center;
    padding-left: 0%;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0px 30px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 50%;
}

.link a {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    transform: scale(1.2);
    background-color: antiquewhite;
}

.career-school {
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 50px;
}

.career-school h2 {
    margin-top: 0;
}

.history {
    align-items: flex-start;
}

.contents {
    display: flex;
    margin-left: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.date {
    margin-right: 15px;
}

.date p {
    display: flex;
    margin: 0;
    height: 100%;
    align-items: top;
}

.info {
    width: 300px;
}

.info  h4 {
    margin: 0;
    text-align: left;
    align-items: top;
}

.info p {
    text-align: left;
    margin: 1px;
}




